$font-stack:    Helvetica, sans-serif;

$container-width: 100%;

.container {
  width: $container-width;
  margin: 5%;
}

$primaryColor: #eeffcc;
$accentColor: #2268bb;

body {
    font: 100% $font-stack;
}

h1 {
    color: $accentColor;
}

// p {
// }